    <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            @Html.ActionLink("Vidly", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Customers", "ViewCustomers", "Customers", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Movies", "Random", "Movies", new { area = "" }, new { @class = "navbar-brand" })
        </div>
    </div>
    </div>
