@model NewVidly.ViewModel.RandomMovieViewModel


@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Movies.Count == 0)
{
    <text>No movies</text>
}

<h2>View Movies</h2>

<table class=“table table-bordered table-hover”>
    <thead>Movie List</thead>
    
    @if (@Model.Movies.Count == 0)
    {
        @Html.DisplayText("No movies found")
    }

    @foreach (var movie in @Model.Movies)
    {
        <tr>
            <td>
                @movie.Name
            </td>
        </tr>
    }

</table>

